{
  "devices": [
    {
      "name": "living-room-right-blinds",
      "type": "blinds",
      "host": "192.168.1.128",
      "password": "your-password-here"
    },
    {
      "name": "electricity-meter",
      "type": "electricity",
      "host": "192.168.1.120",
      "password": "your-password-here"
    },
    {
      "name": "water-meter",
      "type": "water",
      "host": "192.168.1.232",
      "password": "your-password-here"
    }
  ]
}
