CIRCUITPY_WIFI_SSID = "your_wifi_ssid"
CIRCUITPY_WIFI_PASSWORD = "your_wifi_password"
CIRCUITPY_WEB_API_PASSWORD = "your_web_api_password"
CIRCUITPY_WEB_API_PORT = 80
CIRCUITPY_WEB_INSTANCE_NAME = "upstairs-living-room-right-blinds"

device_name = "Upstairs Living Room Right Blinds"
tilt_scale = 10.0

close_approach_revs = 5
open_approach_revs = 5
open_approach_speed = 500
close_approach_speed = 300

mqtt_broker = "192.168.1.36"
mqtt_port = 1883
mqtt_user = "your_mqtt_user"
mqtt_pwd = "your_mqtt_password"
